<h1> {{title}} </h1>
<section>
    <h3>Discussions</h3>

    {{#if emptyDiscussions}}
        <p>No Discussions Found for that ID</p>
    {{/if}}

    {{#each discussions}}
		<h6>
            <a href="/discuss/{{_id}}">{{title}}</a>
        </h6>
        <h7>
            <p>{{body}}</p>
        </h7>
    {{/each}}
</section>

<section>
    <h3>Reviews</h3>

    {{#if emptyReviews}}
        <p>No Reviews Found for that ID</p>
    {{/if}}

    {{#each reviews}}
		<h6>
            <a href="/review/{{_id}}">{{title}}</a>
        </h6>
        <h7>
            <p>{{body}}</p>
        </h7>
    {{/each}}
</section>

<p>
    <a href="/private/create/discussion/{{searchTerm}}">Create a Discussion Post</a>
    <a href="/private/create/review/{{searchTerm}}">Create a Review Post</a>
</p>