<h1> {{title}} </h1>
<section>
    <h2>Discussions</h2>

    {{#if emptyDiscussions}}
        <p>No Discussions Found for that topic</p>
    {{/if}}

    {{#each discussions}}
		<h3>
            <a href="/discuss/{{_id}}">{{title}}</a>
        </h3>
        <h4>
            <p>{{body}}</p>
        </h4>
    {{/each}}
</section>

<section>
    <h2>Reviews</h2>

    {{#if emptyReviews}}
        <p>No Reviews Found for that topic</p>
    {{/if}}

    {{#each reviews}}
		<h3>
            <a href="/review/{{_id}}">{{title}}</a>
        </h3>
        <h4>
            <p>{{body}}</p>
        </h4>
    {{/each}}
</section>

<form action="/private/create/discussion/{{searchTerm}}">
    <button type="submit">Create a Discussion Post</button>
</form>
<br>
<form action="/private/create/review/{{searchTerm}}">
    <button type="submit">Create a Review Post</button>
</form>

{{#if isReviewed}}
	<p>User has already reviewed this topic</p>
{{/if}}
    
