<h1 class="heading"> {{title}} </h1>
<section>
    <h3 class="heading">Discussions</h3>

    {{#if emptyDiscussions}}
        <p>No Discussions Found for that topic</p>
    {{/if}}

    {{#each discussions}}
		<h6 class="heading">
            <a href="/discuss/{{_id}}" class="navLinks">{{title}}</a>
        </h6>
        <h7 class="heading">
            <p>{{body}}</p>
        </h7>
    {{/each}}
</section>

<section>
    <h3 class="heading">Reviews</h3>

    {{#if emptyReviews}}
        <p>No Reviews Found for that topic</p>
    {{/if}}

    {{#each reviews}}
		<h6 class="heading">
            <a href="/review/{{_id}}" class="navLinks">{{title}}</a>
        </h6>
        <h7 class="heading">
            <p>{{body}}</p>
        </h7>
    {{/each}}
</section>

<form action="/private/create/discussion/{{searchTerm}}">
    <button type="submit" class="accButton">Create a Discussion Post</button>
</form>
<br>
<form action="/private/create/review/{{searchTerm}}">
    <button type="submit" class="accButton">Create a Review Post</button>
</form>

{{#if isReviewed}}
	<p>User has already reviewed this topic</p>
{{/if}}
    
