<h1 class="heading"> {{title}} </h1>
<section>
	<h4 class="heading">{{artist}}</h4>
	
	{{#if album}}
        <h4 class="heading">{{album}}</h4>
    {{/if}}
	
	{{#if song}}
        <h4 class="heading">{{song}}</h4>
    {{/if}}
	
    <h7 class="heading">Date Posted: {{date_posted}}</h7>
    <p>{{discussion}}</p>

    {{#if emptyComments}}
        <p>No Comments Found for this Discussion</p>
    {{/if}}

    {{#each comments}}
		<h6 class="heading">{{username}}</h6>
        <h7 class="heading">
            <p>{{comment}}</p>
        </h7>
    {{/each}}

	<form id="comment-form" action="/private/create/comment/{{discussionId}}" method="POST">
        <label for="commentResponse">Enter your comment here:</label>
        <br>
		<textarea id="commentResponse" name="commentResponse" rows="5" cols="40" placeholder = "Enter your comment here."></textarea>
		<button type="submit">Post</button>
	</form>

    <a href="/all/{{link}}" class="navLinks">Back to All Reviews and Discussions</a>
	
</section>
