<h1> {{title}} </h1>
<section>
	<h2>{{artist}}</h2>
	
	{{#if album}}
        <h3>{{album}}</h3>
    {{/if}}
	
	{{#if song}}
        <h3>{{song}}</h3>
    {{/if}}
	
    <p>Date Posted: {{date_posted}}</p>
    <p>{{discussion}}</p>

    {{#if emptyComments}}
        <p>No Comments Found for this Discussion</p>
    {{/if}}

    {{#each comments}}
		<p>{{username}}:</p>
        <p>{{comment}}</p>
    {{/each}}

    <form action="/private/create/comment/{{discussionId}}">
    <button type="submit">Post a Comment</button>
    </form>
    <a href="/all/{{link}}">Back to All Reviews and Discussions</a>
	
</section>
