<h1> {{title}} </h1>
<section>
	<h4>{{artist}}</h4>
	
	{{#if album}}
        <h4>{{album}}</h4>
    {{/if}}
	
	{{#if song}}
        <h4>{{song}}</h4>
    {{/if}}
	
    <h7>Date Posted: {{date_posted}}</h7>
    <p>{{discussion}}</p>

    {{#if emptyComments}}
        <p>No Comments Found for this Discussion</p>
    {{/if}}

    {{#each comments}}
		<h6>{{username}}</h6>
        <h7>
            <p>{{comment}}</p>
        </h7>
    {{/each}}

	<form id="comment-form" action="/private/create/comment/{{discussionId}}" method="POST">
		<textarea id="commentResponse" name="commentResponse" rows="5" cols="40" placeholder = "Enter your comment here."></textarea>
		<button type="submit">Post</button>
	</form>

    <a href="/all/{{link}}">Back to All Reviews and Discussions</a>
	
</section>
