<h1> {{title}} </h1>
<section>
	<h4>{{artist}}</h4>
	
	{{#if album}}
        <h4>{{album}}</h4>
    {{/if}}
	
	{{#if song}}
        <h4>{{song}}</h4>
    {{/if}}
	
    <h7>Date Posted: {{date_posted}}</h7>
    <p>{{discussion}}</p>

    {{#if emptyComments}}
        <p>No Comments Found for this Discussion</p>
    {{/if}}

    {{#each comments}}
		<h6>{{username}}</h6>
        <h7>
            <p>{{comment}}</p>
        </h7>
    {{/each}}

    <p><a href="/private/create/comment/{{discussionId}}">Post a Comment</a></p>
	
</section>
