<h1 class="heading"> {{title}} </h1>
<div>
	<h2 class="heading">{{artist}}</h2>
	
	{{#if album}}
        <h3 class="heading">{{album}}</h3>
    {{/if}}
	
	{{#if song}}
        <h3 class="heading">{{song}}</h3>
    {{/if}}
	
    <h5 class="heading">{{review}}</h5>

    <p>Number of likes: {{likes}}</p>
	<form id="review-like" action="/private/review/like/{{id}}" method="POST">
		<button type="submit" class="button2">Like</button>
	</form>
	{{#if alreadyLiked}}
        <p>You have liked this review</p>
    {{/if}}
	<p>Number of dislikes: {{dislikes}}</p>
	<form id="review-dislike" action="/private/review/dislike/{{id}}" method="POST">
		<button type="submit" class="button2">Dislike</button>
	</form>
	{{#if alreadyDisliked}}
        <p>You have disliked this review</p>
    {{/if}}
	
	<p>Date Posted: {{date_posted}}</p>
	<a href="/all/{{link}}" class="navLinks">Back to All Reviews and Discussions</a>
</div>
