<h1 class="heading"> {{title}} </h1>
<div>
    <h3 class="heading">Artists Results</h3>

    {{#if emptyArtist}}
        <p>No Artists Found that match the Search Term</p>
    {{/if}}

    {{#each resultArtists}}
        <h5 class="heading">
            <a href="/all/{{_id}}" class="navLinks">{{name}}</a>
        </h5>
    {{/each}}
</div>

<div>
    <h3 class="heading">Albums Results</h3>

    {{#if emptyAlbum}}
        <p>No Albums Found that match the Search Term</p>
    {{/if}}

    {{#each resultAlbums}}
        <h5 class="heading">
            <a href="/all/{{_id}}" class="navLinks">{{title}}</a>
        </h5>
    {{/each}}
</div>

<div>
    <h3 class="heading">Songs Results</h3>

    {{#if emptySong}}
        <p>No Songs Found that match the Search Term</p>
    {{/if}}

    {{#each resultSongs}}
        <h5 class="heading">
            <a href="/all/{{_id}}" class="navLinks">{{title}}</a>
        </h5>
    {{/each}}
</div>