<section>
  {{#if hasError}}
  <div class="errorDiv"><p class="errorP">{{error}}</p></div>
  {{/if}}
  <br>
  <br>
  <form id="create{{type}}-form" action="/private/create/{{type}}/{{id}}" method="POST">
    <label for="{{type}}Name" class="accLabels">Title:</label>
    <input type="text" id="{{type}}Name" name="{{type}}Name" class="accInput">
    <br>
    <br>
    <textarea id="{{type}}Body" name="{{type}}Body" rows="10" cols="40" placeholder = "Enter your {{type}} here." class="createForm"></textarea>
    <br>
    <button type="submit" class="button2">Post</button>
  </form>
</section>