<section>
  {{#if hasError}}
  <p>{{error}}</p>
  {{/if}}
  <form id="create{{type}}-form" action="/private/create/{{type}}/{{id}}" method="POST">
    <label for="{{type}}Name">Title:</label>
    <input type="text" id="{{type}}Name" name="{{type}}Name">
    <br>
    <textarea id="{{type}}Body" name="{{type}}Body" rows="10" cols="40">Enter your {{type}} here.</textarea>
    <br>
    <button type="submit">Post</button>
  </form>
</section>