<h1 class="heading"> {{title}} </h1>
<section class="orgDiv">
    <h3 class="heading">Top Three Artists</h3>

    {{#if emptyArtist}}
        <p>No Popular Artists Found</p>
    {{/if}}

    {{#each topArtists}}
        <h6>
            <a href="/all/{{_id}}" class="navLinks">{{name}}</a>
        </h6>
    {{/each}}
</section>

<section class="orgDiv">
    <h3 class="heading">Top Three Albums</h3>

    {{#if emptyAlbum}}
        <p>No Popular Albums Found</p>
    {{/if}}

    {{#each topAlbums}}
        <h6>
            <a href="/all/{{_id}}" class="navLinks">{{title}}</a>
        </h6>
    {{/each}}
</section>

<section class="orgDiv">
    <h3 class="heading">Top Three Songs</h3>

    {{#if emptySong}}
        <p>No Popular Songs Found</p>
    {{/if}}

    {{#each topSongs}}
        <h6>
            <a href="/all/{{_id}}" class="navLinks">{{title}}</a>
        </h6>
    {{/each}}
</section>